@font-face {
    font-family: 'better';
    src: url('../fonts/better.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.content-box {
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 43px;
    box-sizing: border-box;
    @media (max-width: 768px) {
        padding: 0 15px;
    }
    @media (max-width: 480px) {
        padding: 0 16px;
    }
    @media (max-width: 1024px) {
        padding: 0 16px;
    }
}

.top-container {
    max-width: 1820px;
    margin: 0 auto;
}

* {
    font-family: 'better', sans-serif;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.swiper-pagination-bullet-active {
    background: rgb(241, 124, 169) !important;
}

.swiper-pagination-bullet {
    width: 5px !important;
    height: 5px !important;
    margin: 0 5px !important;
}